.gallery {
  &__sections {
    display: grid;
    row-gap: 48px;
    margin-bottom: 40px;
  }

  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: $collection-title-color;

    @include on-tablet {
      white-space: nowrap;
    }
  }

  &__date {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: $collection-desctiption-color;
  }

  &__photos {
    @include page-grid;

    margin-bottom: 24px;

    &--size-count {
      --columns: 3;

      column-gap: 8px;

      @include on-tablet {
        --columns: 4;

        column-gap: 24px;
        grid-column: span 2;
      }

      @include on-desktop {
        --columns: 12;

        column-gap: 24px;
        grid-column: span 4;
      }
    }
  }

  &__link {
    position: relative;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }

    &--invisible {
      @include on-tablet {
        display: none;
      }

      @include on-desktop {
        display: block;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--position-left {
      object-position: 20%;
    }

    &--position-right {
      object-position: right;
    }
  }

  &__button {
    height: 56px;
    display: block;
    margin: auto;

    @include hover(background-color, scale(1.2));

    background-color: $button-color;
    text-align: center;

    &:hover {
      background-color: $button-color-hover;
    }

    &:active {
      background-color: $button-color-pressed;
    }

    @include on-tablet {
      max-width: 392px;
    }

    @include on-desktop {
      max-width: 324px;
    }
  }

  &__button-link {
    display: block;
    text-decoration: none;
    line-height: 56px;
    font-size: 16px;
    font-weight: 700;
    color: $button-text-color;
  }
}
