.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__logo {
    display: flex;
    width: 64px;
    height: 46px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      width: 87px;
      height: 65px;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;

    @include on-tablet {
      gap: 55px;
    }
  }

  &__phone-content {
    z-index: 1;
  }

  &__content {
    display: none;
    gap: 8px;

    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    right: 0;
    top: -26px;
    padding-right: 139px;

    @include on-tablet {
      display: none;
    }

    @include on-desktop {
      display: grid;
    }
  }

  &__title {
    @include text-settings;

    @include on-tablet {
      font-size: 16px;
      line-height: 27px;
    }

    @include on-desktop {
      font-size: 16px;
      line-height: 27px;
    }
  }

  &__tel {
    @include text-settings;

    @include on-tablet {
      font-size: 16px;
      line-height: 27px;
    }

    @include on-desktop {
      font-size: 16px;
      line-height: 27px;
    }
  }
}

.icon--phone:hover + .top-bar__content {
  opacity: 1;
  transition: opacity 0.3s;
}
