$main-text-color: #161616;
$title-color: #fff;
$button-text-color: #fff;
$menu-bg-color: #d12d35;
$collection-title-color: #d12d35;
$button-color: #d12d35;
$button-color-hover: #ae1c23;
$button-color-pressed: #eb343d;
$collection-desctiption-color: #161616;
$input-field-bg-color: #f8f8fa;
$description-color: #3e3e3e;
$input-field-text-color: #7e7e83;
$input-field-hover-border-color: #d5d7de;
$input-field-active-border-color: #161616;
